
/* ----------------------------------------------RIGHT SIDE STYLING---------------------------------------------- */

form{
    background-color: white;
    margin-bottom: 10%;
    align-items: center;
    justify-content: center;
    /* display: flex; */
    overflow: auto;
}

h1{
    align-items: center;
    justify-content: center;
    margin-left: 10%;
}

h4{
    margin-top: 0%;
}

label {
    font-style: bold;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    /* background-color:aqua; */
}

input[type="email"] {
    font-size: 20px;
    background-color: white;
    padding: 12px;
    display: inline-block;
    border: 1px solid black;
    border-radius: 4px;
    box-sizing: border-box;
    display: flex;
    width: 73%;
    /* margin-left: 1%; */
    margin-bottom: 2%;
    color: #b2913d;
    align-items: center;
    justify-content: center;
    margin-left: 10%;
}

input[type="text"] {
    font-size: 20px;
    background-color: white;
    padding: 12px;
    display: inline-block;
    border: 1px solid black;
    border-radius: 4px;
    box-sizing: border-box;
    display: flex;
    width: 73%;
    /* margin-left: 1%; */
    margin-bottom: 2%;
    color: #b2913d;
    align-items: center;
    justify-content: center;
    margin-left: 10%;
  }

button[type="submit"] {
    font-size: 28px;
    /* background-color: #5b765b; */
    /* background-color: aqua; */
    border-radius: 12px;
    padding: 5px 10px;
    color: white;
    background-color: black;
    /* border-color:#5b765b; */
    cursor: pointer;
    width: 73%;
    /* margin-left: 15%; */
    border: none;
    transition: all 0.3s ease;
    align-items: center;
    justify-content: center;
    margin-left: 10%;
  }
  
  .button-flex,
  div {
    display: block;
  }