* {
    background-color: white;
}
.product_name {
    margin-top: 10px;
    margin-bottom: 0px;
    font-size: 26px;
    line-height: 32px;
    }

    .quantity_input {
        /* display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox; */
        display: flex;
        height: 35px;
        margin-bottom: 15px;
        padding-bottom: 3px;
        padding-left: 11px;
        -webkit-box-align: end;
        -webkit-align-items: flex-end;
        -ms-flex-align: end;
        align-items: flex-end;
        border-bottom: 1px solid #bcc6d0;
        font-size: 13px;
        font-weight: 400;
        }

        .bottom_margin {
            margin-bottom: 5px;
            }

            .inline {
                display: inline-block;
                margin-right: 5px;
                font-weight: bold;
                
                
                }

                .sticky_navbar {
                  
                    position: sticky;
                    top: 110px;
      
                    display: flex;
                    }

                    .previews {
                        position: relative;
                        display: -webkit-box;
                        display: -webkit-flex;
                        display: -ms-flexbox;
                        display: flex;
                        width: 80%;
                        margin-left: 10px;
                        -webkit-flex-wrap: wrap;
                        -ms-flex-wrap: wrap;
                        flex-wrap: wrap;
                        -webkit-box-flex: 1;
                        -webkit-flex: 1;
                        -ms-flex: 1;
                        flex: 1;
                        }

                .measure_text {
                    display: inline-block;
                    }

        p {
            margin-bottom: 10px;
            font-family: Arial, Helvetica, sans-serif;
            color: #3f423a;
            font-size: 16px;
            line-height: 24px;
            margin-top: 0;
            display: block;
            }

            strong {
                font-weight: bold;
            }

        .w-richtext:before, .w-richtext:after {
            content: " ";
            display: table;
            grid-column-start: 1;
            grid-row-start: 1;
            grid-column-end: 2;
            grid-row-end: 2;
            }

            .w-richtext:after {
                clear: both;
            }
    .category_name {
        /* -webkit-transition: color 200ms ease;
        transition: color 200ms ease; */
        color: #232722;
        font-size: 15px;
        font-weight: 500;
        text-decoration: none;
        }

        .field_label {
            margin-right: 5px;
            font-weight: 400;
        }

        label {
            display: block;
            margin-bottom: 5px;
            /* font-weight: bold; */
            cursor: default;
            }

        a {
            cursor: pointer;
            background-color: transparent;
        }

        .center_text_notice {
            margin-top: 10px;
            color: #707070;
            font-size: 13px;
            text-align: center;
            }

        .add_to_cart_button {
                width: 100%;
                color: white;
                min-height: 42px;
                -webkit-box-pack: center;
                -webkit-justify-content: center;
                -ms-flex-pack: center;
                justify-content: center;
                background-color: #000;
                -webkit-transition: background-color 200ms ease;
                transition: background-color 200ms ease;
                font-size: 12px;
                font-weight: 600;
                text-align: center;
                text-transform: uppercase;
        }

        .quantity {
            width: 100%;
            height: 35px;
            margin-bottom: 0px;
            padding-right: 0px;
            padding-bottom: 0px;
            -webkit-box-flex: 1;
            -webkit-flex: 1;
            -ms-flex: 1;
            flex: 1;
            border-style: none;
            background-color: transparent;
            text-align: right;
            }

        .price_text {
            display: inline-block;
            margin-right: 8px;
            color: #707070;
            font-size: 14px;
            line-height: 20px;
            font-weight: 500;
            }

            .add_to_form {
                margin-top: 0px;
                margin-right: 0px;
                margin-bottom: 15px;
                margin-left: 0px;
            }

            form {
                display: block;
            }

            @media screen and (min-width: 1280px){
                .h6 {
                font-size: 20px;
                line-height: 26px;
                }
            }

            h6 {
                margin-top: 20px;
                margin-bottom: 10px;
                font-family: Arial, Helvetica, sans-serif;
                color: #3f423a;
                font-size: 28px;
                line-height: 34px;
                font-weight: 600;
                }
                .h6.less_top_margin {
                    margin-top: 10px;
                    }
h1 {
    /* margin-top: 20px;
    margin-bottom: 10px; */
    font-family: Arial, Helvetica, sans-serif;
    color: #3f423a;
    /* font-size: 38px;
    line-height: 44px; */
    font-weight: 600;
    }

    p {
        margin-bottom: 10px;
        font-family: Arial, Helvetica, sans-serif;
        color: #3f423a;
        font-size: 16px;
        line-height: 24px;
        margin-top: 0;
        display: block;
        }

    .description {
        position: relative;
        overflow: hidden;
        padding-right: 50px;
        padding-left: 50px;
        }
@media screen and (min-width: 1440px) {
    .content-wrapper {
    max-width: 1340px;
    }
}
@media screen and (min-width: 1280px) {
    .content-wrapper {
        max-width: 1301px;
        }
}

body {
    font-family: Arial, sans-serif;
    color: #3f423a;
    font-size: 16px;
    line-height: 25px;
    }

.content-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    max-width: 1260px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 20px;
    padding-left: 20px;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
    }

.w_container {
    margin-left: auto;
    margin-right: auto;
    max-width: 940px;
    }

    * {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        }

        div {
            display: block;
        }

        .w_container:before, .w_container:after {
            content: " ";
            display: table;
            grid-column-start: 1;
            grid-row-start: 1;
            grid-column-end: 2;
            grid-row-end: 2;
            }

            .featured-left {
                position: relative;
                display: flex;
                overflow: visible;
                width: 50%;
                min-height: auto;
                margin-right: 20px;
                -webkit-box-align: start;
                -webkit-align-items: flex-start;
                -ms-flex-align: start;
                align-items: flex-start;
                }

.section {
    display: flex;
    background-color: yellow;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    margin: 10px;
    padding: 7px;
  }

  .main_section{
    display: inline-flex;
    background-color: orange;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    margin: 10px;
    padding: 7px;
  }

  .name {
    margin-top: 10px;
    margin-bottom: 0px;
    font-size: 26px;
    line-height: 32px;
}

.category_name {
    color: #232722;
    font-size: 15px;
    font-weight: 500;
    text-decoration: none;
}

.category_name:hover {
    color: #869077;
}

.price {
    position: relative;
    margin-top: 15px;
}

.accordion_content:before, .accordion_content:after {
    content: " ";
    display: table;
    grid-column-start: 1;
    grid-row-start: 1;
    grid-column-end: 2;
    grid-row-end: 2;
}

.accordion_content:after {
    clear: both;
}

.description {
    position: relative;
    overflow: hidden;
    padding-right: 50px;
    padding-left: 50px;
    }
        
.accordion {
    margin-bottom: 8px;
    border-bottom: 1px solid #b4b9ac;
    }

    .h6.less-top-margin {
        margin-top: 10px;
        }

        /* @media screen and (min-width: 1280px)
        {
            font-size: 20px;
            line-height: 26px;
} */

/* @media screen and (min-width: 1280px)
{
    font-size: 20px;
            line-height: 26px;
             */

.open_close_item {
    position: relative;
    display: flex;
    width: 50px;
    height: 28px;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    border-radius: 3px;
    }

.flex_no_wrap {
    display: flex;
    flex-wrap: nowrap;
}

.less-top-margin {
    margin-top: 10px;
    }

.top_margin {
    position: relative;
    margin-top: 15px;
}