/* *{
    background-color: white;
}

.product_name {
    margin-top: 10px;
    margin-bottom: 0px;
    font-size: 26px;
    line-height: 32px;
    }

.category_name {
    -webkit-transition: color 200ms ease;
    transition: color 200ms ease;
    color: #232722;
    font-size: 15px;
    font-weight: 500;
    text-decoration: none;
}
 */


 a {
    background-color:transparent
}

a:active, a:hover {
    outline:0
}


b, strong {
    font-weight:bold
}

h1 {
    font-size: 2em;
    margin:.67em 0
}


small {
    font-size:80%
}

sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align:baseline
}

img {
    border:0
}

button, input, optgroup, select, textarea {
    color: inherit;
    font: inherit;
    margin:0
}

button {
    overflow:visible
}

button, select {
    text-transform: none
}

button, html input[type="button"], input[type="reset"] {
    -webkit-appearance: button;
    cursor:pointer
}

button[disabled], html input[disabled] {
    cursor:default
}

button::-moz-focus-inner, input::-moz-focus-inner {
    border: 0;
    padding:0
}

input {
    line-height: normal
}

input[type='checkbox'], input[type='radio'] {
    box-sizing: border-box;
    padding: 0
}

input[type='number']::-webkit-inner-spin-button, input[type='number']::-webkit-outer-spin-button {
    height: auto
}

input[type='search'] {
    -webkit-appearance: none
}

input[type='search']::-webkit-search-cancel-button, input[type='search']::-webkit-search-decoration {
    -webkit-appearance:none
}

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding:.35em .625em .75em
}

legend {
    border: 0;
    padding:0
}

textarea {
    overflow:auto
}

optgroup {
    font-weight:bold
}

table {
    border-collapse: collapse;
    border-spacing:0
}

td, th {
    padding: 0
}

/* ==========================================================================
   Start of base Webflow CSS - If you're looking for some ultra-clean CSS, skip the boilerplate and see the unminified code below.
   ========================================================================== */


/* * {
    background-color: #fff;
} */

html {
    height:100%;
    background-color: #fff;
}

body {
    margin: 0;
    min-height: 100%;
    background-color: #fff;
    font-family: Arial, sans-serif;
    font-size: 14px;
    line-height: 20px;
    color:#333
}

img {
    max-width: 100%;
    vertical-align: middle;
    display:inline-block
}


.w_inline_block {
    max-width: 100%;
    display:inline-block
}


html[data-w-dynpage] [data-w-cloak] {
    color:transparent !important
}



blockquote {
    margin: 0 0 10px 0;
    padding: 10px 20px;
    border-left: 5px solid #E2E2E2;
    font-size: 18px;
    line-height:22px
}

figure {
    margin: 0;
    margin-bottom:10px
}

figcaption {
    margin-top: 5px;
    text-align:center
}

ul, ol {
    margin-top: 0px;
    margin-bottom: 10px;
    padding-left:40px
}


fieldset {
    padding: 0;
    margin: 0;
    border: 0
}

button, [type='button'], [type='reset'] {
    border: 0;
    cursor: pointer;
    -webkit-appearance:button
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight:bold
}

.w_commerce_commerceaddtocartbutton {
    background-color: #3898ec;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-top-width: 0px;
    color: #fff;
    cursor: pointer;
    padding-top: 9px;
    padding-bottom: 9px;
    padding-left: 15px;
    padding-right: 15px;
    text-decoration: none;
    display: flex;
    align-items: center;
}




@media screen and (max-width: 767px) {

}

@media screen and (max-width: 479px) {

}

body {
    font-family: Inter, sans-serif;
    color: #3f423a;
    font-size: 16px;
    line-height: 25px;
}

h1 {
    margin-top: 20px;
    margin-bottom: 10px;
    font-family: Inter, sans-serif;
    color: #3f423a;
    font-size: 38px;
    line-height: 44px;
    font-weight: 600;
}

h2 {
    margin-top: 20px;
    margin-bottom: 10px;
    font-family: Inter, sans-serif;
    color: #3f423a;
    font-size: 36px;
    line-height: 42px;
    font-weight: 600;
}

h3 {
    margin-top: 20px;
    margin-bottom: 10px;
    font-family: Inter, sans-serif;
    color: #3f423a;
    font-size: 34px;
    line-height: 40px;
    font-weight: 600;
}

h4 {
    margin-top: 20px;
    margin-bottom: 10px;
    font-family: Inter, sans-serif;
    color: #3f423a;
    font-size: 32px;
    line-height: 38px;
    font-weight: 600;
}

h5 {
    margin-top: 20px;
    margin-bottom: 10px;
    font-family: Inter, sans-serif;
    color: #3f423a;
    font-size: 30px;
    line-height: 36px;
    font-weight: 600;
}

h6 {
    margin-top: 20px;
    margin-bottom: 10px;
    font-family: Inter, sans-serif;
    color: #3f423a;
    font-size: 28px;
    line-height: 34px;
    font-weight: 600;
}

p {
    margin-bottom: 10px;
    font-family: Inter, sans-serif;
    color: #3f423a;
    font-size: 16px;
    line-height: 24px;
}

a {
    color: #869077;
    text-decoration: none;
    cursor: pointer;
}



.top_margin {
    position: relative;
    margin-top: 15px;
}



.content_wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    max-width: 1260px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 20px;
    padding-left: 20px;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
}


.flex {
    display: flex;
    flex-wrap: wrap;
}


.price_flex {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}


.feature {
    width: 32%;
    max-width: 340px;
    margin-right: 2%;
}


.feature-text {
    margin-top: 0px;
    margin-bottom: 15px;
    line-height: 22px;
}

.features {
    width: 84%;
    height: 100%;
    margin-bottom: 60px;
    margin-left: 6%;
    background-color: transparent;
}

.display-none {
    display: none;
}



.feature-bg {
    position: absolute;
    left: 0%;
    top: auto;
    right: 0%;
    bottom: 0%;
    width: 100%;
    height: 80%;
    border-radius: 10px;
    background-color: #c6cbc2;
}



.text-box {
    width: 100%;
    max-width: 375px;
}



.h4 {
    margin-top: 10px;
    font-size: 28px;
    line-height: 34px;
    font-weight: 600;
}

.image-align-end {
    position: relative;
    display: flex;
    width: 50%;

    justify-content: center;

    align-items: flex-end;
}

.form {
     display: flex;
    max-width: 434px;
    flex-wrap: wrap;
}

.input {
    width: 50%;
    height: 53px;
    margin-bottom: 0px;
    border-style: solid solid none;
    border-width: 1px;
    border-color: #93978e;
    border-radius: 5px 0px 0px;
    font-size: 13px;
}


.submit-button {
    width: 101%;
    height: 53px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #b3b9ab;
    background-image: none;
    background-size: auto;
    -webkit-transition: background-color 200ms ease;
    transition: background-color 200ms ease;
    color: #3f423a;
    font-size: 15px;
    font-weight: 500;
}

.submit-button:hover {
    background-color: #a0a797;
}



.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 80px;
}


.h6 {
    font-size: 1.55vw;
    line-height: 2vw;
}

.h6.less_top_margin {
    margin-top: 10px;
}

.submit:hover {
    background-color: #a0a797;
}


.field {
    width: 48.5%;
    height: 50px;
    margin-bottom: 0px;
    border-style: solid;
    border-width: 1px;
    border-color: #b4b9ac;
    border-radius: 0px;
    background-color: transparent;
    -webkit-transition: border 200ms ease;
    transition: border 200ms ease;
    color: #abb5b8;
    font-size: 13px;
}

.field:hover {
    border-bottom-color: #2974f9;
    background-color: transparent;
}

.field:active {
    background-color: transparent;
}

.field:focus {
    background-color: transparent;
}

.field::-webkit-input-placeholder {
    background-color: transparent;
}

.field:-ms-input-placeholder {
    background-color: transparent;
}

.field::-ms-input-placeholder {
    background-color: transparent;
}

.field::placeholder {
    background-color: transparent;
}


.h2 {
    margin-top: 0px;
}



.textarea {
    margin-top: 20px;
    padding-top: 20px;
    padding-bottom: 110px;
    border-style: solid;
    border-width: 1px;
    border-color: #b4b9ac;
    background-color: transparent;
    color: #131313;
    font-size: 13px;
    line-height: 15px;
}

.textarea::-webkit-input-placeholder {
    color: #898989;
}

.textarea:-ms-input-placeholder {
    color: #898989;
}

.textarea::-ms-input-placeholder {
    color: #898989;
}

.textarea::placeholder {
    color: #898989;
}


.thumbnail {
    position: relative;
    display: flex;
    overflow: hidden;
    width: 75px;
    margin-bottom: 5px;
    align-items: flex-start;
    background-image: url("https://d3e54v103j8qbb.cloudfront.net/img/background-image.svg");
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
}



.open_close_item {
    position: relative;
    display: flex;
    width: 50px;
    height: 28px;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
}

.center_text_notice {
    margin-top: 10px;
    color: #707070;
    font-size: 13px;
    text-align: center;
}



.add_to_cart_button {
    width: 100%;
    min-height: 42px;
    justify-content: center;
    background-color: #000;
    font-size: 12px;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
}

.add_to_cart_button:hover {
    background-color: #2e2e2e;
}


.accordion_trigger {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    align-items: center;
    text-decoration: none;
}

.accordion_trigger:hover {
    text-decoration: none;
}

.previews {
    position: relative;
    display: flex;
    width: 80%;
    margin-left: 10px;
    flex-wrap: wrap;
    flex: 1;
}


._100_percent_width {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.quantity {
    width: 100%;
    height: 35px;
    margin-bottom: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    border-style: none;
    background-color: transparent;
    text-align: right;
}

.sticky_navbar {
    position: -webkit-sticky;
    position: sticky;
    top: 110px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}


.expand {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.featured_left {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    overflow: visible;
    width: 50%;
    min-height: auto;
    margin-right: 20px;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.product_name {
    margin-top: 10px;
    margin-bottom: 0px;
    font-size: 26px;
    line-height: 32px;
}

.accordion {
    margin-bottom: 8px;
    border-bottom: 1px solid #b4b9ac;
}

.price_text {
    display: inline-block;
    margin-right: 8px;
    color: #707070;
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
}

.image_bg {
    position: absolute;
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    /* background-image: url("https://d3e54v103j8qbb.cloudfront.net/img/background-image.svg"); */
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
}

.description {
    position: relative;
    overflow: hidden;
    padding-right: 50px;
    padding-left: 50px;
}



.absolute-image {
    position: absolute;
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    background-image: url("https://d3e54v103j8qbb.cloudfront.net/img/background-image.svg");
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
}

.quantity-input {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 35px;
    margin-bottom: 15px;
    padding-bottom: 3px;
    padding-left: 11px;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
    border-bottom: 1px solid #bcc6d0;
    font-size: 13px;
    font-weight: 400;
}

.quantity-input:hover {
    border-bottom-color: #1a8ef7;
}

.preview-item {
    position: absolute;
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    z-index: 0;
    display: inline-block;
    width: 100%;
}

.field-label {
    margin-right: 5px;
    font-weight: 400;
}



.inline {
    display: inline-block;
    margin-right: 5px;
    font-weight: 500;
}

.measure_text {
    display: inline-block;
}

.bottom_margin {
    margin-bottom: 5px;
}


.text-field {
    height: 55px;
}




@media screen and (min-width: 1280px) {
    
    .content_wrapper {
        max-width: 1301px;
    }

    

    .h6 {
        font-size: 20px;
        line-height: 26px;
    }

}

@media screen and (min-width: 1440px) {
    .content_wrapper {
        max-width: 1340px;
    }

}

@media screen and (max-width: 991px) {
    h1 {
        font-size: 36px;
        line-height: 42px;
    }

    h2 {
        font-size: 34px;
        line-height: 40px;
    }

    h3 {
        font-size: 32px;
        line-height: 38px;
    }

    h4 {
        font-size: 30px;
        line-height: 36px;
    }

    h5 {
        font-size: 28px;
        line-height: 34px;
    }

    h6 {
        font-size: 26px;
        line-height: 32px;
    }

    
    .feature {
        width: 48.5%;
    }

  

    .features {
        width: 86%;
    }



    .h4 {
        font-size: 26px;
        line-height: 31px;
    }


    .h6 {
        font-size: 2.55vw;
        line-height: 3vw;
    }

    .h2 {
        font-size: 32px;
        line-height: 38px;
    }


    .featured_left {
        margin-right: 20px;
    }

}

@media screen and (max-width: 767px) {
    h1 {
        font-size: 34px;
        line-height: 40px;
    }

    h2 {
        font-size: 32px;
        line-height: 38px;
    }

    h3 {
        font-size: 30px;
        line-height: 36px;
    }

    h4 {
        font-size: 28px;
        line-height: 34px;
    }

    h5 {
        font-size: 26px;
        line-height: 32px;
    }

    h6 {
        font-size: 24px;
        line-height: 30px;
    }



    .features {
        width: 90%;
        margin-bottom: 40px;
    }

    .features-section {
        padding-top: 80px;
    }



    .h2 {
        font-size: 30px;
        line-height: 36px;
    }


    .featured_left {
        width: 100%;
        margin-right: 0px;
        margin-bottom: 20px;
    }

}

@media screen and (max-width: 479px) {
    h1 {
        font-size: 32px;
        line-height: 38px;
    }

    h2 {
        font-size: 30px;
        line-height: 36px;
    }

    h3 {
        font-size: 28px;
        line-height: 34px;
    }

    h5 {
        font-size: 24px;
        line-height: 30px;
    }

    h6 {
        font-size: 22px;
        line-height: 28px;
    }


    .feature {
        width: 100%;
        max-width: 100%;
        margin-right: 0%;
    }

    .feature-box {
        width: 100%;
        margin-right: 0px;
        margin-bottom: 10px;
    }

    .features {
        width: 100%;
        margin-left: 0%;
    }


    .h4 {
        font-size: 24px;
        line-height: 28px;
    }

    .form {
        max-width: 350px;
    }
   

    .h6 {
        font-size: 5vw;
        line-height: 5vw;
    }

    

    .submit {
        width: 57%;
        margin-top: 15px;
    }

    .textarea {
        margin-top: 15px;
    }

    
    .thumbnail {
        width: 23%;
        margin-right: 5px;
    }

    .previews {
        width: 100%;
        margin-left: 0px;
        -webkit-box-flex: 0;
        -webkit-flex: 0 auto;
        -ms-flex: 0 auto;
        flex: 0 auto;
    }

    .quantity {
        font-size: 13px;
    }

    .sticky_navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .featured-left {
        width: 100%;
        margin-right: 0px;
        margin-bottom: 20px;
    }

    .absolute-image {
        height: 100%;
    }

    
    .thumbnails_container {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
    }

}

@font-face {
    font-family: 'Inter';
    src: url('https://assets.website-files.com/62d2e266e20c184da5836dab/62d2e3025bbb7404d659ab23_Inter-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('https://assets.website-files.com/62d2e266e20c184da5836dab/62d2e302360d59ff963e3a73_Inter-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('https://assets.website-files.com/62d2e266e20c184da5836dab/62d2e30249ba5369dcce63ef_Inter-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('https://assets.website-files.com/62d2e266e20c184da5836dab/62d2eb44ccbacc41f6e8b0b0_Inter-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

