
/* ----------------------------------------------BODY STYLING---------------------------------------------- */
.body{
    background-color: #b0d4ca;
}

/* ----------------------------------------------CONTAINER STYLING---------------------------------------------- */

/* container for the whole page */
.container_1 { 
    border-radius: 50px;
    position: absolute;
    /* background-color: darkred; */
    background-color:#d0d4ca;
    /* background-color: white; */
    width: 100%;
	border-radius: 3px;
    padding: 20px;
	display: grid;
    grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
    grid-gap: 10px;
    border-radius: 40%;
}

/* container for the form */
.form_container{
    display:flex;
    size:120px;
    position: relative;
    /* background-color: #d3d3cb; */
    /* background-color: aqua; */
    background: #d0d4ca;
	border-radius: 3px;
    padding: 40px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
    grid-gap: 10px;
    border-radius: 20%;
    width: 90%;
}

/* not sure */
.pic_container{
    display: flex;
    position: relative;
    background-color: #bbbfb6;
    /* background-color: blueviolet; */
    border-radius: 3px;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
    grid-gap: 10px;
    border-radius: 20%;
    width: 90px; 
}

/* container for the img */
.pic_container,img{
    display: flex;
    padding: 40px;
    /* position: relative; */
    /* display: grid;  
    grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
    grid-gap: 10px; */
    border-radius: 20%;     /*round the edges of the img */
    width: 90%;
    float: right;
}

/* ----------------------------------------------FORM STYLING---------------------------------------------- */

.form,h1{
    color: #39442f;
    font-style:normal;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
    size: 50px;
    align-items: right;
    /* background-color: blue;          */
    color:rgb(57,68,47);
    margin-inline-start: auto;
    text-align: center;
    margin-top: 30%;
}

.form,p{
    color: #39442f;
    font-style: italic;
    font-size: 28px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /* background-color: purple; */
    /* padding-top: -40%; */
    margin-inline-start: auto;
    text-align: center;
}

.email,h4{
    color: #39442f;
    font-size: 20px;
    font-style: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /* background-color: pink; */
    margin-top: 2%;
    margin-left: 15%;
    /* margin-inline-start: auto; */
    /* text-align: center; */
}

.remember_container{
color: #39442f;
font-size: 15px;
font-style: bold;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
margin-top: 2%;
margin-left: 15%;
}


.forgot_container{
color: #39442f;
font-size: 15px;
font-style: bold;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
margin-top: 2%;
margin-left: 15%;
}

.label[type=checkbox]{
    color: #39442f;
    font-size: 20px;
    font-style: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /* background-color: pink; */
    margin-top: 2%;
    margin-left: 153%;;
    /* margin-inline-start: auto; */
    /* text-align: center; */
}


.input{
    text-align: center;
    /* background-color: chartreuse; */
    width: 100%;
}

/* ----------------------------------------------INPUT STYLING---------------------------------------------- */
/* input styling */
input[type=email], select {
    font-size: 20px;
    background-color: #bbbfb6;
    padding: 12px;
    display: inline-block;
    border: 1px solid #b2913d;
    border-radius: 4px;
    box-sizing: border-box;
    display: flex;
    width: 70%;
    margin-left: 15%;
    margin-bottom: 2%;
    float: none;

}
 
input[type=password], select {
    font-size: 20px;
    background-color:#bbbfb6;
    padding: 12px 20px;
    display: inline-block;
    border: 1px solid #b2913d;
    border-radius: 4px;
    box-sizing: border-box;
    display: flex;
    width: 70%;
    margin-left: 15%;
    margin-bottom: 5%;
    float: center;
}

/* button styling */
input[type=button]:hover {
    background-color: #c9b277;
    color: rgb(57,68,47);
    /* border-color: rgb(57,68,47); */
} 

input[type=button] {
    font-size: 28px;
    background-color: #5b765b;
    border-radius: 12px;
    padding: 5px 10px;
    color: #e3bf5a;
    /* border-color:#5b765b; */
    cursor: pointer;
    width: 70%;
    margin-left: 15%;
    ruby-align: right;
    float: center;
}

.button-flex,div{
    display:block;
}

